<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light bg-dark  ">
    <a class="navbar-brand" href="#">
        <i class="zmdi zmdi-font" ></i>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="#navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a  class="nav-link text-white" href="/forumProduct">Sản phẩm</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-white" href="/productManager">Quản lý sản phẩm</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-white" href="/uploadProduct">Thêm sản phẩm</a>
            </li>


        </ul>

    </div>
</nav>

<form action="/editProduct" method="post" enctype="multipart/form-data" class="form-horizontal">
    <fieldset>
        <input type="hidden" id="id" name="id" value="{{id}}">
        <!-- Search input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="tutorial">Tên sản phẩm</label>
            <div class="col-md-4">
                <input value="{{this.name}}" id="tutorial" name="nameProduct"  class="form-control input-md" required="" type="search">

            </div>
        </div>

        <!-- Search input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="tutorial_fr">Loại sản phẩm</label>
            <div class="col-md-4">
                <input value="{{this.specie}}" id="tutorial_fr" name="specieProduct"  class="form-control input-md" required="" type="search">

            </div>
        </div>


        </div>



        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="comment">Giá</label>
            <div class="col-md-4">
                <input value="{{this.price}}" id="comment" name="priceProduct"  class="form-control input-md" required="" type="text">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="approuved_by">Ghi chú</label>
            <div class="col-md-4">
                <input value="{{this.note}}" id="approuved_by" name="noteProduct"  class="form-control input-md" required="" type="text">

                <!-- File Button -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="filebutton">Ảnh</label>
                    <div class="col-md-4">
                        <input id="filebutton" name="image" class="input-file" type="file" multiple>
                    </div>
                </div>


                <!-- Button -->
                <div class="form-group">
                    <div class="col-md-4">
                        <button id="singlebutton" name="btnUpload" value="editProduct" class="btn btn-primary">Save</button>
                    </div>
                </div>

    </fieldset>
</form>



{{#if isShow}}
    <script>
        alert("{{alertMessage}}")

    </script>
{{/if}}
</body>

</html>
<!------ Include the above in your HEAD tag ---------->
